body {
    background-size: 100%;
    background: gainsboro no-repeat;
    font-family: "Courier 10 Pitch", serif;
}

.login {
    background: #0c7fc2 url(../images/login_bg.png) no-repeat center top;
    display: block;
    width: 40%;
    margin: 0 auto;
}

form {
    background: white;
    box-shadow: 2px 1px 1px gray;
    margin-top: 150px;
    width: 500px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
}

form:before {
    content: "";
    display: inline-block;
    height: 50%;
    vetical-align: middle;
}

.control-group {
    display: block;
}

.container {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
}

input {
    border: white;
    height: 30px;
    display: block;
    width: 100%;
}

.text {
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-bottom: #0c7fc2 1px solid;
}

.text:focus {
    outline: none;
    background-color: transparent;
}

p {
    margin: 0;
    padding: 0;
    text-align: left !important;
}

.submit {
    margin-top: 30px;
    color: white;
    background: #0c7fc2;

}